@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', 'sans-serif';
}

:root {
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;

}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.header {
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;

}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-img img{
    width: 35vw;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-2.4rem);
    }
    100% {
        transform: translateY(0);
    }
}

.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;

}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}

.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}

.btn:hover {
    box-shadow: none;
}

.main-content {
    padding: 120px 0;
    background-color: #ffffff;
}
.main-content h1 {
    font-size: 45px;
}

.default-title {
    font-size: 28px;
    font-weight: 700;
}
.price {
    color: #5dd2b3;
    font-size: 24px;
    font-weight: 400;
}
.description {
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
.sign-up-login {
    padding: 20px 0;
}
.functions {
    font-size: 30px;
}
.functions a {
    margin-right: 10px;
}
label {
    font-size: 24px;
}
li{
    font-size: 18px;
}
.ravadiv__card{
    width: 100%;
    height: 400px;
    border: 1px solid white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;

}
.card__img{
    width: 200px;
    height: 200px;
}
.titlerava{
    text-align: center;
    font-size: 40px;
}
.card__title{
    font-size: 25px;
}
.ravadiv__card p{
    font-size: 20px;
}
.ravadiv__card a{
margin-top: 15px;
}

.login-form{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 2fr 1fr 2fr;
}
.ravabtn{
    width: 100%;
    
}
.login-label{
    font-size: 16px;
}
.ravatitle, .ravaform, .ravalabel, .ravabtn, #div_id_username, #div_id_password,
#div_id_username, #div_id_first_name, #div_id_last_name, #div_id_email,
#div_id_password1, #div_id_password2, .ravap {
    grid-column: 2/3;
}
.ravaform label, .sign-up-form label{
    display: block;
}
.ravatitle{
    display: flex;
    justify-content: center;
}
.sign-up-form{
    grid-template-rows: repeat(8, 1fr) !important;
}
.ravasearch{
    width: 100%;
    height: 500px;
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
}
.ravablock{
    margin-top: 50px;
    display: grid;
    grid-template: auto / 1fr 3fr;
    justify-items: center;
    padding: 0 50px;
}
#id_username, #id_password, #id_first_name, #id_last_name, #id_email, #id_password1, #id_password2 {
    width: 100%;
    border-radius: 20px;
    height: 30px;
}
.ravalink:visited {
    color: white;
}
.ravalink{
    border-bottom: 1px solid white;
    font-size: 16px;
}
.ravap {
    font-size: 16px;
}
.ravagay{
    display: grid;
    grid-template: auto / 1fr 1fr;
    width: 100%;
    gap: 7vw;
    padding: 0 50px;
}
.ravasearchsearch{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
}
.ravainput{
    width: 100%;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}
.ravacategorycategory{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 30px;
    margin-top: 20px;
}
.nameproduct {
    color: white;
    font-size: 20px;
}
.select {
    border-radius: 10px;
    height: 25px;
    width: 85%;
    padding-left: 5px;
}
.cardimg{
    width: 20px;
}
.cart {
    display: flex;
    justify-content: center;
    text-align: center;
}
.emptycart {
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.spansign {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    color: red;
}
.containerspan {
    border: 1px solid red;
    padding: 5px;
}
.carddetailimg {
    width: 500px;
    height: 500px;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
}
.artka, .nameli {
    display: flex;
    justify-content: left;
    text-align: left;
    font-size: 30px;
    color: white
}
.imgfigure{
    width: 300px;
    height: 300px;
    border-radius: 15px;
}
.selectartka{
    width: 20%;
    height: 25px;
    border-radius: 15px;
}
.carddetailproduct{
    width: 100%;
    height: 100%;
    border: 1px solid white;
    border-radius: 15px;
}
.centerdetailproduct{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70%;
}
.centerlabelproductdetail{
    padding: 30px;
}
.badgegreen{
    color: green;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
.badgered{
    text-align: center;
    color: red;
    font-size: 20px;
}
.titleproductdetailname{
    text-align: center;
    font-size: 60px;
}
.text-primary{
    text-align: center;
    font-size: 20px;
    margin-bottom: 25px;
}
.btnnigga{
    margin-top: 20px;
    display: block;
}
.block{
    display: block;
}
.negrrab{
    display: grid;
    grid-template: auto / 1fr;
    place-items: center;
}
.negrcartcart{
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-bottom: 20px;
    margin-left: 150px;
}
.formnigacheck{
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    width: 800px;
    margin-bottom: 20px;
}
.bg-nigga{
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    width: 100%;
    word-spacing: 30px;
}
#fullname, #email, #city, #address, #phone {
    display: flex;
    justify-content: center;
    width: 100%;
    border-radius: 20px;
    height: 30px;
    padding: 10px;
}
.niggacheckbtn{
    margin-top: 20px;
}
.foritemniggaincart {
    font-size: 20px;
}
.titlecartravanigga{
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}
.allniggabro{
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.divbtnniggaplaceanorder{
    display: flex;
    justify-content: center;
}
.table-1{
    margin-left:auto;
    margin-right:auto;
    width:800px;
}
.thtable{
    text-align: left;
    font-size: 20px;
}