{% extends "../base.html" %}
{% load static %}
{% block title %}Тауарлар{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<header class="header">
    <a href="#" class="logo">RavaShop</a>

    <i class='bx bx-menu' id="menu-icon"></i>

    <nav class="navbar">
        <a href="{% url 'catalog:homePage' %}">Home</a>
        <a href="{% url 'catalog:store_home' %}" class="active">Category</a>
        {% if not user.is_authenticated %}
        <a href="{% url 'users:loginPage' %}">Login</a>
        <a href="{% url 'users:signUp' %}">Sign Up</a>
        {% endif %}
        {% if user.is_authenticated %}
        <a href="{% url 'orders:cart_summary' %}">Cart</a>
        {% with cart_items=cart|length %}
        <span class="badge badge-sm indicator-item" id="cart-qty">{{ cart_items }}</span>
        {% endwith %}
        {% endif %}
        {% if user.is_authenticated %}
        {% if user.is_superuser %}
        <a href="{% url 'admin:index' %}">Admin panel</a>
        {% endif %}
        <a href="{% url 'users:logoutUser' %}">{{ user.username }} : Logout</a>
        {% endif %}
    </nav>
</header>
<div class="centerdetailproduct">
    <div class="carddetailimg">
        <figure><img src="{{ product.image.url }}" class="imgfigure" alt="{{ product.name }}"/></figure>
    </div>
    <div class="carddetailproduct">
    <div class="centerlabelproductdetail">
        <h2 class="titleproductdetailname">{{ product.name }}</h2>
        {% if product.in_stock %}
        <div class="badgegreen">Available for sale</div>
        {% else %}
        <div class="badgered">Not for sale</div>
        {% endif %}
        <h3 class="text-primary">Price: {{ product.price }} tenge</h3>
        <p class="description mb-5">Description: {{ product.description }}</p>
        <div class="negrrab">
            <label class="negrlabel block" for="select-qty-{{product.id}}">Quantity</label>
        <select id="select-qty-{{product.id}}" class="selectartka block">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <button onclick="addToCart('{{product.id}}')" class="btn btnnigga">Add to Basket</button>
        </div>
    </div>
    </div>
</div>
</div>
</div>
</div>
{% else %}
<div class="container mx-auto">
    <div class="alert alert-error shadow-lg">
        <div>
            <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none"
                 viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"/>
            </svg>
            <span>Тауарларды қарау үшін және оларға тапсырыс беру үшін, жүйеге тіркеліңіз немесе кіріңіз.</span>
        </div>
    </div>
</div>
{% endif %}
<script>
    const addToCart = (productId) => {
        let selectQuantity = document.getElementById('select-qty-' + productId);
        let quantity = selectQuantity.value;

        let data = {
            product_id: productId,
            quantity
        }

        fetch("{% url 'orders:cart_add' %}", {
            method: 'POST',
            body: JSON.stringify(data),
            headers: {  "Content-type": "application/json; charset=UTF-8",
                        "X-CSRFToken": "{{csrf_token}}"}
        })
        .then(res => res.json())
        .then(data => {
            document.getElementById("cart-qty").innerHTML = data.total_items;
        });
    }

</script>
{% endblock %}